.CustomButton {
  color: black;
}
div.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.delete-account {
  background-color: white;
}
button.check-transactions {
  background-color: white;
}
