.CustomButton {
  color: black;
}
div.home-page {
  background-color: bisque;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.delete-account {
  background-color: white;
  margin-top: 10px;
}
button.check-transactions {
  background-color: white;
  margin-top: 10px;
}
