div.transaction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

td.date,
td.merchant-name,
td.category,
td.description,
td.amount {
}

td.transaction-header {
  font-size: 20px;
}

td {
  padding: 5px;
  margin: 5px;
}

tr {
  border: 0;
  padding: 0;
}
