table {
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  width: 100%;
}

div.transaction-container {
  display: flex;
}

th.transaction-header {
  display: flex;
  flex-wrap: wrap;
}

td.date,
td.merchant-name,
td.category,
td.description,
td.amount {
  display: flex;
}

td.transaction-header {
  font-size: 20px;
}

td {
  padding: 5px;
}

tr {
  border: 0;
  padding: 0;
}
